{% extends "layout.html.twig" %}

{% block titre %} 

    Administration - Editeur 


{% endblock %}  

{% block css %}

    

<!-- CSS -->
{% endblock %} 


{% block contenu %}
        
        <header id="acceuil" class="white-text z-depth-4">
            <a class="left-align btn waves-effect waves-teal" href="http://alaska.thomassebert.fr/administration">Retour à l'administration</a><h1 id="titrePrincipal" class="center-align">Editeur</h1>
            <div class="center-align">  
                {% if id != 0 %}
                    {% if episode.etat == 'publié' %}
                      Episode publié le {{ episode.date_publication}}
                    {% else %}
                    Brouillon créé le {{ episode.date_publication}}
                    {% endif %}
                {% endif %}
            </div>
        </header>

        
    
        <main id="contenuAcceuil" class="container">

        {% if formulaireEditeur %}
        {{ form_start(formulaireEditeur, { 'attr':  {
                 'novalidate' : 'novalidate'
             }}) }}
            <div class="row">
                <div class="input-field col s9">
                   {{ form_errors(formulaireEditeur.titre) }}
                    {{ form_widget(formulaireEditeur.titre, { 'attr':  {
                        'class' : 'validate',
                        'value' : episode.titre|title
                    }}) }}
                    <label for="formulaire_editeur[titre]">Titre de l'épisode</label>
                </div>
                <div class="input-field col s3">
                    {{ form_errors(formulaireEditeur.auteur) }}
                    {{ form_widget(formulaireEditeur.auteur, { 'attr':  {
                         'class' : 'validate',
                         'value' : app.user.username
                     }}) }}
                    <label for="formulaire_editeur[auteur]">Auteur</label>
                </div>
            </div> 
            <div>
            {{ form_errors(formulaireEditeur.contenu) }}
            {{ form_widget(formulaireEditeur.contenu, { 'attr':  {
                 'value' : episode.contenu
             }}) }}
             </div>
             <div class="row">
                <div class="file-field input-field col s7">
                    <div class="btn">
                        <span>Ajouter une image</span>
                        {{ form_errors(formulaireEditeur.image) }}
                        {{ form_widget(formulaireEditeur.image) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div> 
                <div class="input-field col s5">
                    {{ form_errors(formulaireEditeur.etat) }}
                    {{ form_widget(formulaireEditeur.etat, { 'attr':  {
                         'class' : 'validate',
                         'value' : episode.etat
                     }}) }}
                    <label for="formulaire_editeur[etat]">Visibilité</label>
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s4">
                    {% if id != 0 %}
                    <div class="right-align">Hormis l'image, tous les champs doivent être remplis! 
                    {% else %}
                    <div class="right-align">Tous les champs doivent être remplis! 
                    {% endif %}

                    
                    {% if app.user.username == 'Visiteur' %}
                       <button class="right-align btn disabled waves-effect waves-teal" type="submit" name="action">Enregistrer</button> </div>
                    {% else %}
                        <button class="right-align btn waves-effect waves-teal" type="submit" name="action">Enregistrer</button> </div>              
                    {% endif %}
                    
                </div> 
            </div> 
            
        {{ form_end(formulaireEditeur) }}
        {% endif %}
           
        </main>
 
<!-- CONTENU -->       
{% endblock %} 

{% block footer %}

<div class="flexx">
    <a class="waves-effect waves-teal btn-flat" href="http://alaska.thomassebert.fr/">Retour au site</a> 
    <a class="right-align waves-effect waves-teal btn-flat" href="{{ path('logout') }}">Déconnexion</a>
</div>

<!-- FOOTER -->
{% endblock %} 

{% block js %}


<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=f49rdahytfayja2s979p4a5wptlv3dinl2g73ai9hy4b4hi7"></script>

<script type="text/javascript" src="{{ asset('/js/administration.js') }}"></script>

<!-- JS -->
{% endblock %} 