{% extends "layout.html.twig" %}

{% block titre %} 

    Administration - Corbeille

{% endblock %} 

{% block css %}

    
<!-- CSS -->
{% endblock %} 

{% block contenu %}
        
    <header id="acceuil" class="white-text z-depth-4">
        <a class="left-align btn waves-effect waves-teal" href="http://alaska.thomassebert.fr/administration">Retour à l'administration</a><h1 id="titrePrincipal" class="center-align">Corbeille</h1>
    </header>

    <main id="contenuAcceuil" class="container">

    <!-- LISTE DES EPISODES -->

    {% if episodes %}
       <article class="row">
            <h3 class="center-align col m6 offset-m3"> Episodes supprimés </h3>
           <div class="tableau col s12">
                <ul class="collapsible popout">
                    <li class="ligne">
                        <div class="colonne2"> <strong>Titre</strong> </div>
                        <div class="colonne2"> <strong>Nombre de vues</strong> </div>
                        <div class="colonne2"> <strong>Auteur</strong> </div>
                        <div class="colonne2"> <strong>Action</strong> </div>
                    </li>
               {% for episode in episodes %}
               <li>
                 <div class="collapsible-header ligne">
                   <div class="colonne2"> {{ episode.titre |title }} </div>
                   <div class="colonne2"> {{ episode.nombre_vues }} </div>
                   <div class="colonne2"> {{ episode.auteur }} </div>
                   <div class="colonne2"> 
                        <a href="#modal5"  class="btn-floating waves-effect waves-light red tooltipped modal2" data-position="right" data-delay="50" data-tooltip="Restaurer"><i lien="http://alaska.thomassebert.fr/administration/restaurer/{{episode.id}}/Episode" class="material-icons alignement">replay</i></a> 
                    </div>
                </div>
                <div class="collapsible-body" colspan="4">
                    <div>  {{ episode.contenu | raw }} </div>
                </div>
               </li>
               {% endfor %}
       </article>
    {% else %}
      <p class="center-align"> Aucun épisode n'a été supprimé</p>
    {% endif %}

      <!-- LISTE DES COMMENTAIRES SUPPRIMES -->

      {% if commentaires %}
       <article class="row">

                <h3 class="center-align col m6 offset-m3"> Commentaires supprimés </h3>
                <div class="tableau col s12">
                <ul class="collapsible popout">
                    <li class="ligne">
                        <div class="colonne"> <strong>Commentaire</strong> </div>
                        <div class="colonne"> <strong>Auteur</strong> </div>
                        <div class="colonne"> <strong>Date</strong> </div>
                        <div class="colonne"> <strong>Action</strong> </div>
                    </li>
                    
                        {% for commentaire in commentaires %}
                                <div class="collapsible-header ligne">
                                    <div class="colonne"> {{ commentaire.contenu_commentaire | truncate(25, true, '...') }} </div>
                                    <div class="colonne"> {{ commentaire.auteur_commentaire }} </div>
                                    <div class="colonne"> {{ commentaire.date_publication_commentaire }} </div>
                                    <div class="colonne"> 
                                        <a href="#modal6"  class="btn-floating waves-effect waves-light red tooltipped modal3" data-position="top" data-delay="50" data-tooltip="Restaurer"><i lien="http://alaska.thomassebert.fr/administration/restaurer/{{commentaire.id}}/Commentaire" class="material-icons alignement">replay</i></a> 
                                    </div>
                                        <div class="collapsible-body" colspan="4">
                                    <div>  {{ commentaire.contenu_commentaire }} </div>
                                </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
       </article>
    {% else %}
      <p class="center-align"> Aucun commentaire n'a été supprimé</p>
    {% endif %}
       

       <!-- LISTE DES SIGNALEMENTS SUPPRIMES -->

    {% if signalements %}
       <article class="row">

                <h3 class="center-align col m6 offset-m3"> Signalements supprimés </h3>
                <div class="tableau col s12">
                <ul class="collapsible popout">
                    <li class="ligne">
                        <div class="colonne"> <strong>Message</strong> </div>
                        <div class="colonne"> <strong>Auteur</strong> </div>
                        <div class="colonne"> <strong>Date</strong> </div>
                    </li>
                    
                        {% for signalement in signalements %}
                            <li>
                                <div class="collapsible-header ligne">
                                    <div class="colonne"> {{ signalement.contenu_commentaire | truncate(25, true, '...') }} </div>
                                    <div class="colonne"> {{ signalement.auteur_commentaire }} </div>
                                    <div class="colonne"> {{ signalement.date_publication_commentaire }} </div>
                                </div>
                                <div class="collapsible-body" colspan="4">
                                    <div>  {{ signalement.contenu_commentaire }} </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
       </article>
    {% else %}
      <p class="center-align"> Aucun signalement n'a été supprimé</p>
    {% endif %}


       <!-- MODALE CONFIRMATION RESTAURATION EPISODE -->
          <div id="modal5" class="modal">
            <div class="modal-content">
              <p>Etes vous sur de vouloir restaurer cet épisode? Les commentaires associés seront également restaurés.</p>
              <div class="confirmation center-align">
                  <a href="" id="restaurationEpisode" class="modal-action waves-effect btn waves-effect waves-light red">Oui, restaurer</a>
                  <a href="#!" class="modal-action modal-close waves-effect btn waves-effect waves-light blue">Non, annuler</a>
              </div>
            </div>
          </div>

        <!-- MODALE CONFIRMATION RESTAURATION COMMENTAIRE -->
          <div id="modal6" class="modal">
            <div class="modal-content">
              <p>Etes vous sur de vouloir restaurer ce commentaire? </p>
              <div class="confirmation center-align">
                  <a href="" id="restaurationCommentaire" class="modal-action waves-effect btn waves-effect waves-light red">Oui, restaurer</a>
                  <a href="#!" class="modal-action modal-close waves-effect btn waves-effect waves-light blue">Non, annuler</a>
              </div>
            </div>
          </div>

    </main>
        
<!-- CONTENU -->
{% endblock %} 

{% block footer %}

<div class="flexx">
    <a class="waves-effect waves-teal btn-flat" href="http://alaska.thomassebert.fr/">Retour au site</a> 
    <a class="right-align waves-effect waves-teal btn-flat" href="{{ path('logout') }}">Déconnexion</a>
</div>

<!-- FOOTER -->
{% endblock %} 

{% block js %}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=f49rdahytfayja2s979p4a5wptlv3dinl2g73ai9hy4b4hi7"></script>

<script type="text/javascript" src="{{ asset('/js/administration.js') }}"></script>

<!-- JS -->
{% endblock %} 