{% extends "layout.html.twig" %}

{% block titre %} 

    Acceuil 


{% endblock %} 

{% block css %}


    
<!-- CSS -->
{% endblock %} 

{% block contenu %}
        

        <header id="acceuil" class="z-depth-4 row">
            <svg width="100vw" height="350px" viewBox="0 0 700 180" class="hide-on-small-only">
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="50%" class="text--line"> Billet simple pour l'Alaska </text>
                    <text text-anchor="middle" x="70%" y="80%" class="text--line2"> par Jean Forteroche </text> 
                </symbol>
              
                <g class="g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>     
                </g>
            </svg>
            <svg width="100vw" height="300px" viewBox="0 0 700 350" class="hide-on-med-and-up">
                <symbol id="f-text">
                    <text text-anchor="middle" x="50%" y="30%" class="text--line3"> Billet simple </text>
                    <text text-anchor="middle" x="50%" y="55%" class="text--line3"> pour l'Alaska </text>
                    <text text-anchor="middle" x="70%" y="85%" class="text--line4"> par Jean Forteroche </text> 
                </symbol>
              
                <g class="g-ants">
                    <use xlink:href="#f-text" class="text-copy"></use>     
                </g>
            </svg>
        </header>

        <main id="contenuAcceuil" class="container">

        <div class="row">
            <p class="col s10 offset-s1 m8 offset-m2 flow-text"> Pour mon nouveau roman, 'Billet simple pour l'Alaska', j'ai décidé d'opter pour une nouvelle forme de publication. Ainsi, chaque semaine, vous retrouverez sur ce blog un nouvel épisode du roman. N'hésitez pas à commenter afin de me donner vos impressions, vos idées pour la suite, ce qui vous a plu ou non, et j'essaierai d'en tenir compte pour l'épisode suivant!</p>  
        </div>

        <br/><div class="divider"></div><br/>

        <!-- AFFICHE LA LISTE DES EPISODES PUBLIES DANS DES 'CARDS' -->
            <div id="listeEpisodes">
                {% for episode in episodes %}
                {% if episode.etat == 'publié' %}
                <article id="{{episode.id}}" class="episodes card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/{{ episode.image }}">
                    </div>
                    <div class="card-content">
                        <div class="card-alignement card-title activator grey-text text-darken-4">
                            <div>
                                <h3 class="activator center-align titreEpisode"> {{ episode.titre |title }} </h3>
                                <p class="activator petit">{{ episode.nombre_vues }} vues, publié le {{ episode.date_publication }} par {{ episode.auteur }} </p>
                            </div>
                            <p><a class="waves-effect waves-teal btn-flat" href="http://alaska.thomassebert.fr/episode/{{ episode.id }}">Voir l'épisode</a></p>
                        </div>
                    </div>
                    <div class="card-reveal flow-text">
                        <span class="card-title grey-text text-darken-4 titreEpisode">{{ episode.titre |title }}<i class="material-icons right">close</i></span>
                        <p class="flow-text">{{ episode.contenu | truncate(150, true, '...') | raw }}</p>
                        <p><a class="waves-effect waves-teal btn-flat" href="http://alaska.thomassebert.fr/episode/{{ episode.id }}">Lire la suite</a></p>
                    </div>
                </article>
                {% endif %}
                {% endfor %}
            </div>

            <ul id="pagination" class="pagination">
                
            </ul>

        </main>

        
        
<!-- CONTENU -->
{% endblock %} 

{% block footer %}

<div class="flexx">
    <a class="waves-effect waves-teal btn-flat" href="http://alaska.thomassebert.fr/administration">Administration</a> 
    {% if is_granted('ROLE_ADMIN') %}
        <a class="right-align waves-effect waves-teal btn-flat" href="{{ path('logout') }}">Déconnexion</a>
    {% endif %}
</div>

<!-- FOOTER -->
{% endblock %} 

{% block js %}

    <script type="text/javascript" src="{{ asset('/js/accueil.js') }}"></script>

 <!-- JS -->
{% endblock %}